@charset "UTF-8";
:root {
  --background: #141D26;
  --content: #1B2836;
  --white: #FAFAFA;
  --blue: #1DA1F2;
}
* {
  outline: none;
  outline-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}
*:not(input):not(select):not(datalist) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
html {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  overflow-x: hidden; overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0; height: 0;
  display: none;
}
body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
  text-align: center;
  background-color: var(--background);
}
h1, h2, h3, h4, h5, h6, p {
  margin: .5em auto;
}
span, a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a {
  cursor: pointer;
  text-decoration: underline;
  transition: all .3s ease;
}
a:hover {
  text-decoration: none;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.hidden {
  display: none !important;
}
.inline {
  display: inline-block;
}
.container {
  width: 100%; max-width: 1200px;
  margin: 0 auto; padding: .75em;
}
.info {
  font-style: italic;
  font-size: .75em;
  margin: .5em 10%;
}
.button {
  width: 1.75em; height: 1.75em;
  margin-left: .125em;
  text-align: center;
  text-decoration: none;
  border-radius: .25em;
  cursor: pointer;
  transition: all .3s ease;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--blue);
}
input, select, datalist {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  color: inherit; background-color: inherit;
  width: 100%; min-width: unset; height: auto;
  margin: auto; padding: .25em .75em;
}
.header {
  width: 100%; height: auto;
  margin: 0 auto 1em; padding: .75em 1.5em;
  font-size: 1em;
  border-radius: .25em;
  background-color: var(--blue);
}
.header > div {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1.5em); max-width: 400px;
  padding: .25em; padding-left: .75em; margin: .25em;
  font-size: 1.1em;
  border: .125em solid transparent;
  border-radius: .25em;
  color: var(--white); background-color: var(--content);
  transition: all .3s ease;
}
.header > div:hover, .header > div:focus, .header > div:active {
  border-color: var(--white);
}
.header > div > .inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1em);
}
.list {
  list-style-type: none;
  margin: auto; padding: .75em;
  text-align: center;
}
.list .card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .25em; padding: .75em;
  border: .125em solid transparent;
  border-radius: .25em;
  width: 10em; height: 5em; /*10em;*/
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: var(--white); background-color: var(--content);
  transition: all .3s ease;
}
.list .card:hover {
  background-color: var(--blue);
}
.list .card.active {
  pointer-events: none;
  background-color: grey;
}
.card .favorite {
  position: absolute;
  top: .375em; right: .375em; bottom: auto; left: auto;
  width: .85em; height: .85em;
  background-image:  url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23FFFFFF;' d='M12 2.5C12.3788 2.5 12.725 2.714 12.8944 3.05279L15.4733 8.2106L21.1439 9.03541C21.5206 9.0902 21.8335 9.35402 21.9511 9.71599C22.0687 10.078 21.9706 10.4753 21.6981 10.741L17.571 14.7649L18.4994 20.4385C18.5607 20.8135 18.4043 21.1908 18.0956 21.4124C17.787 21.6339 17.3794 21.6614 17.0438 21.4834L12 18.8071L6.95621 21.4834C6.62059 21.6614 6.21303 21.6339 5.90437 21.4124C5.5957 21.1908 5.43927 20.8135 5.50062 20.4385L6.42903 14.7649L2.3019 10.741C2.02939 10.4753 1.93133 10.078 2.04894 9.71599C2.16655 9.35402 2.47943 9.0902 2.85606 9.03541L8.52667 8.2106L11.1056 3.05279C11.275 2.714 11.6212 2.5 12 2.5ZM12 5.73607L10.0819 9.57221C9.93558 9.86491 9.65528 10.0675 9.33144 10.1146L5.14839 10.723L8.1981 13.6965C8.43179 13.9243 8.53958 14.2519 8.48687 14.574L7.80001 18.7715L11.5313 16.7917C11.8244 16.6361 12.1756 16.6361 12.4687 16.7917L16.2 18.7715L15.5131 14.574C15.4604 14.2519 15.5682 13.9243 15.8019 13.6965L18.8516 10.723L14.6686 10.1146C14.3447 10.0675 14.0644 9.86491 13.9181 9.57221L12 5.73607Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;
}
#favorites .card {
  border-color:  var(--blue);
}
#favorites .card .favorite {
  background-color: var(--blue);
  border-radius: .125em;
}
.card .logo {
  width: 100%; height: calc(100% - 2em);
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .logo img {
  width: auto; height: auto;
  max-width: 100%; max-height: 100%;
  margin: auto;
}
.card .name {
  margin: .5em auto; padding: 0 .25em;
  width: 100%; height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shadow {
  position: fixed;
  height: 100%; width: 100%;
  top: 0; left: 0;  bottom: 0; right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .5);
  padding: .75em;
  overflow: hidden;
  display: none;
}
.modal {
  position: relative;
  height: 100%; width: 100%;
  margin: auto; padding: .75em;
  border-radius: .25em;
  overflow: hidden;
  background-color: var(--content);
}
.modal .buttons {
  position: absolute;
  z-index: 10001;
  top: 1.125em; right: 1.125em; bottom: auto; left: auto;
  text-align: right;
}
#player {
  width: 100%; height: calc(100% - 3.75em);
}
/*PIP mode made dirty*/
.picture.shadow {
  bottom: .5em; right: .5em; top: auto; left: auto;
  background-color: transparent;
  width: 25em; height: calc(25em / 16 * 9);
  max-width: calc(100% - 1em); max-height: calc(100% - 1em);
  border-radius: .25em;
  overflow: hidden;
}
.picture .button.hidden {
  display: inline-block !important;
}
.picture .header {
  display: none;
}
.picture .modal, .picture #player {
  width: 100%; height: 100%;
  margin: auto; padding: 0;
}
@media screen and (max-width: 900px){
  html {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 600px){
  html {
    font-size: 2.75vw;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .list .card {
    display: flex;
    width: 100%; height: auto;
  }
}